{% extends 'core/base.html' %}
{% load static %}

{% block cont_title %}
{% endblock cont_title %}

{% block content %}
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
<div class="container">
<div class="row">
    {% include 'core/icon.html' with title="Primer paso" body="Ir a registrar al nuevo cliente (saltar este paso si ya existe)" %}
    {% include 'core/icon.html' with title="Segundo paso" body="Ir a 'Servicio' para registrar un servicio' (saltar este paso si ya existe)" %}
    {% include 'core/icon.html' with title="tercera" body="Ir a 'Inicio' para generar la factura al cliente" %}
</div>  
</section> 

<div class="row justify-content-center">
    <div class="col-xl-6">
        <div class="text-center text-white">
            <!-- Page heading-->
            <h1 class="mb-5">Registro de factura</h1>
            <form method="post">
                {% csrf_token %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="Submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

{% endblock content %}